@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,100&display=swap');


body {
  font-family: 'Lobster', cursive;
  background-color: #1A1A1D;
  color : #ffffff;
  font-size: 15px;
  }
.text-about{
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}
h1 {
font-size: 50px;
}
li{
    list-style-type: none;  
    font-weight: bold;  
    font-size: 20px;  
}
nav {
  font-family: 'Lato', sans-serif;
  border-radius: 25px;
  background-color: #c3073f;
  color: white;
  position:sticky;
  top: 0;
  
}
#name{
  text-align: center;
}

.ep{
  text-align: center;
}
#intro-hi{
  text-align: center;
}

#logo{
  background-color:#c3073f;
  border-radius: 25px
}
nav > a {
color: #ffffff;
text-decoration: none;
padding: 15px 117.35px;
display: inline-block;
}

nav > a:hover {
  background-color: #4e4e50;
  border-radius: 25px;
  
}
#photo-me{
  text-align: center;
}

img {
  border-radius: 25px;
}
.contact-box{
  width:500px;
  background-color: #4e4e50;
  box-shadow: 0 0 20px 0 #999;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  position:absolute;
}
form{
  margin: 35px;
}
.input-field{
  width: 400px;
  height:40px;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #777;
  border-radius: 14px;
  outline: none;
}
.textarea-field{
  height: 150px;
  padding-top: 10px;
}
.btn{
  border-radius:20px;
  color:#ffffff;
  margin-top: 18px;
  padding: 10px;
  background-color: #47c35a;
  font-size: 12px;
  border: none;
  cursor: pointer;
}
.form{
  width:340px;
  height:440px;
  background:#e6e6e6;
  border-radius:8px;
  box-shadow:0 0 40px -10px #000;
  margin:calc(50vh - 220px) auto;
  padding:20px 30px;
  max-width:calc(100vw - 40px);
  box-sizing:border-box;
  font-family:'Montserrat',sans-serif;
  position:relative}
.heading-contact{
  margin:10px 0;
  padding-bottom:10px;
  width:180px;
  color:#78788c;
  border-bottom:3px solid #78788c}
input{
  width:100%;
  padding:10px;
  box-sizing:border-box;
  background:none;
  outline:none;
  resize:none;
  border:0;
  font-family:'Montserrat',sans-serif;
  transition:all .3s;
  border-bottom:2px solid #bebed2}
input:focus{
  border-bottom:2px solid #78788c}
p:before{
  content:attr(type);
  display:block;
  margin:28px 0 0;
  font-size:14px;
  color:#5a5a5a}
.button2{
  border-radius: 8px ;
  float:right;
  padding:8px 12px;
  margin:8px 0 0;
  font-family:'Montserrat',sans-serif;
  border:2px solid #78788c;
  background:0;
  color:#5a5a6e;
  cursor:pointer;
  transition:all .3s}
.button2:hover{
  border-radius: 8px;
  background:#78788c;
  color:#fff}
div{
  content:'Hi';
  position:absolute;
  bottom:-15px;
  right:-20px;
  background:#50505a;
  color:#fff;
  width:320px;
  padding:16px 4px 16px 0;
  border-radius:6px;
  font-size:13px;
  box-shadow:10px 10px 40px -14px #000}
span{
  margin:0 5px 0 15px}

.bullet-list{
  list-style-type: circle;
  text-align: center;
}

#gitIcon{
  color: #171515;
}
#phoneIcon{
 color:#171515; 
}
#emailIcon{
  color:#171515; 
 }

 .icons{
  text-decoration: none;
  color: brown;
  font-weight: bold;
 }