@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
  font-family: 'Lobster', cursive;
  background-color: #1A1A1D;
  color : #ffffff;
  font-size: 15px;
  }
h1 {
font-size: 50px;
}
li{
    list-style-type: none;  
    font-weight: bold;  
    font-size: 20px;  
}
nav {
  border-radius: 25px;
  background-color: #c3073f;
  color: white;
  
}

nav > a {
color: #ffffff;
text-decoration: none;
padding: 15px 110.3px;
display: inline-block;
}

nav > a:hover {
  background-color: #4e4e50;
  border-radius: 25px;
  
}

img {
  border-radius: 25px;
}